@media (max-width: 480px) {
	@if $style-grid == expanded{
		$grid-columns: 1;

		/* Colummns */
		@if $fixed-gutter == true{
			@for $i from 1 through $grid-columns{
				.column-#{$i}{
					-webkit-box-sizing: border-box;
					   -moz-box-sizing: border-box;
							box-sizing: border-box;
					width: 100%;
					@extend %clear-box;
				}
			}
		}@else{
			@for $i from 1 through $grid-columns{
				.column-#{$i}{
					width: (($full-width/$grid-columns)* $i) - $gutter;
					@extend %clear-box;
				}
			}
		}

		/* Space Before */
		@for $i from 1 through $grid-columns{
			.before-span-#{$i}{
				margin-left: (($full-width/$grid-columns)* $i);
			}
		}

		/* Space After */
		@for $i from 1 through $grid-columns{
			.after-span-#{$i}{
				margin-right: (($full-width/$grid-columns)* $i);
			}
		}
	}

 }