@media (min-width: 768px) and (max-width: 1000px) {
	@if $style-grid == expanded{
		$grid-columns: 4;

		/* Colummns */
		@if $fixed-gutter == true{
			@for $i from 1 through $grid-columns{
				.column-#{$i}{
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
						box-sizing: border-box;
					width: (($full-width/$grid-columns)* $i);
					@extend %clear-box;
				}
			}
		}@else{
			@for $i from 1 through $grid-columns{
				.column-#{$i}{
					width: (($full-width/$grid-columns)* $i) - $gutter;
					@extend %clear-box;
				}
			}
		}
	}
 }