/* my grid system
 * Version: 1.0.0
 * Author: Tiago Porto
 * http://www.tiagoporto.com
 * https://github.com/tiagoporto
 * Contact: me@tiagoporto.com */
.column-1, .column-2, .column-3, .column-4, .column-5, .column-6, .column-7, .column-8, .column-9, .column-10, .column-11, .column-12, .column-13, .column-14, .column-15, .column-16 {
  display: inline;
  float: left;
  overflow: hidden;
  padding: 0 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

.container {
  width: 100%;
  margin: auto; }

.initial {
  margin-left: -5px; }

.final {
  margin-right: -5px; }

/* Colummns */
.column-1 {
  width: 6.25%; }

.column-2 {
  width: 12.5%; }

.column-3 {
  width: 18.75%; }

.column-4 {
  width: 25%; }

.column-5 {
  width: 31.25%; }

.column-6 {
  width: 37.5%; }

.column-7 {
  width: 43.75%; }

.column-8 {
  width: 50%; }

.column-9 {
  width: 56.25%; }

.column-10 {
  width: 62.5%; }

.column-11 {
  width: 68.75%; }

.column-12 {
  width: 75%; }

.column-13 {
  width: 81.25%; }

.column-14 {
  width: 87.5%; }

.column-15 {
  width: 93.75%; }

.column-16 {
  width: 100%; }

/* Space Before */
.before-span-1 {
  margin-left: 6.25%; }

.before-span-2 {
  margin-left: 12.5%; }

.before-span-3 {
  margin-left: 18.75%; }

.before-span-4 {
  margin-left: 25%; }

.before-span-5 {
  margin-left: 31.25%; }

.before-span-6 {
  margin-left: 37.5%; }

.before-span-7 {
  margin-left: 43.75%; }

.before-span-8 {
  margin-left: 50%; }

.before-span-9 {
  margin-left: 56.25%; }

.before-span-10 {
  margin-left: 62.5%; }

.before-span-11 {
  margin-left: 68.75%; }

.before-span-12 {
  margin-left: 75%; }

.before-span-13 {
  margin-left: 81.25%; }

.before-span-14 {
  margin-left: 87.5%; }

.before-span-15 {
  margin-left: 93.75%; }

.before-span-16 {
  margin-left: 100%; }

/* Space After */
.after-span-1 {
  margin-right: 6.25%; }

.after-span-2 {
  margin-right: 12.5%; }

.after-span-3 {
  margin-right: 18.75%; }

.after-span-4 {
  margin-right: 25%; }

.after-span-5 {
  margin-right: 31.25%; }

.after-span-6 {
  margin-right: 37.5%; }

.after-span-7 {
  margin-right: 43.75%; }

.after-span-8 {
  margin-right: 50%; }

.after-span-9 {
  margin-right: 56.25%; }

.after-span-10 {
  margin-right: 62.5%; }

.after-span-11 {
  margin-right: 68.75%; }

.after-span-12 {
  margin-right: 75%; }

.after-span-13 {
  margin-right: 81.25%; }

.after-span-14 {
  margin-right: 87.5%; }

.after-span-15 {
  margin-right: 93.75%; }

.after-span-16 {
  margin-right: 100%; }

/*media */
@media (min-width: 768px) and (max-width: 1000px) {
  /* Colummns */
  .column-1, .column-5, .column-9, .column-13 {
    width: 25%; }

  .column-2, .column-6, .column-10, .column-14 {
    width: 50%; }

  .column-3, .column-7, .column-11, .column-15 {
    width: 75%; }

  .column-4, .column-8, .column-12, .column-16 {
    width: 100%; }

  /* Space Before */
  .before-span-1, .before-span-5 {
    margin-left: 25%; }

  .before-span-2, .before-span-6 {
    margin-left: 50%; }

  .before-span-3, .before-span-7 {
    margin-left: 75%; }

  .before-span-4, .before-span-8 {
    margin-left: 100%; }

  /* Space After */
  .after-span-1, .after-span-5 {
    margin-right: 25%; }

  .after-span-2, .after-span-6 {
    margin-right: 50%; }

  .after-span-3, .after-span-7 {
    margin-right: 75%; }

  .after-span-4, .after-span-8 {
    margin-right: 100%; } }
/*media */
