/*
	my grid system
	Version: 0.0.1 - beta
	Author: Tiago Porto - http://www.tiagoporto.com
	https://github.com/tiagoporto
	Contact: me@tiagoporto.com
*/
/* Reset */
body {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: 960px;
  margin: auto;
}

/* Colummns */
.container > .column-1, .container > .column-2, .container > .column-3, .container > .column-4, .container > .column-5, .container > .column-6, .container > .column-7, .container > .column-8, .container > .column-9, .container > .column-10, .container > .column-11, .container > .column-12 {
  display: inline;
  float: left;
  overflow: hidden;
  padding: 0 10px;
}

.container > .column-1 {
  width: 80px;
}

.container > .column-2 {
  width: 160px;
}

.container > .column-3 {
  width: 240px;
}

.container > .column-4 {
  width: 320px;
}

.container > .column-5 {
  width: 400px;
}

.container > .column-6 {
  width: 480px;
}

.container > .column-7 {
  width: 560px;
}

.container > .column-8 {
  width: 640px;
}

.container > .column-9 {
  width: 720px;
}

.container > .column-10 {
  width: 800px;
}

.container > .column-11 {
  width: 880px;
}

.container > .column-12 {
  width: 960px;
}

/* Media Queries */
@media (max-width: 959px) {
  .container {
    width: 100%;
  }

  .container > .column-1 {
    width: 100%;
  }

  .container > .column-2 {
    width: 100%;
  }

  .container > .column-3 {
    width: 100%;
  }

  .container > .column-4 {
    width: 100%;
  }

  .container > .column-5 {
    width: 100%;
  }

  .container > .column-6 {
    width: 100%;
  }

  .container > .column-7 {
    width: 100%;
  }

  .container > .column-8 {
    width: 100%;
  }

  .container > .column-9 {
    width: 100%;
  }

  .container > .column-10 {
    width: 100%;
  }

  .container > .column-11 {
    width: 100%;
  }

  .container > .column-12 {
    width: 100%;
  }
}
