/*
	my grid system
	Version: 0.0.1 - beta
	Author: Tiago Porto - http://www.tiagoporto.com
	https://github.com/tiagoporto
	Contact: me@tiagoporto.com
*/
body {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
.column-1,
.column-2,
.column-3,
.column-4,
.column-5,
.column-6,
.column-7,
.column-8,
.column-9,
.column-10,
.column-11,
.column-12 {
  display: inline;
  float: left;
  overflow: hidden;
  padding: 0 5px;
}
.container {
  width: 960px;
  margin: auto;
}
.column-1 {
  width: 80px;
}
.column-2 {
  width: 160px;
}
.column-3 {
  width: 240px;
}
.column-4 {
  width: 320px;
}
.column-5 {
  width: 400px;
}
.column-6 {
  width: 480px;
}
.column-7 {
  width: 560px;
}
.column-8 {
  width: 640px;
}
.column-9 {
  width: 720px;
}
.column-10 {
  width: 800px;
}
.column-11 {
  width: 880px;
}
.column-12 {
  width: 960px;
}
.initial {
  margin-left: -5px;
}
.final {
  margin-right: -5px;
}
.before-span-1 {
  margin-left: 80px;
}
.before-span-2 {
  margin-left: 160px;
}
.before-span-3 {
  margin-left: 240px;
}
.before-span-4 {
  margin-left: 320px;
}
.before-span-5 {
  margin-left: 400px;
}
.before-span-6 {
  margin-left: 480px;
}
.before-span-7 {
  margin-left: 560px;
}
.before-span-8 {
  margin-left: 640px;
}
.before-span-9 {
  margin-left: 720px;
}
.before-span-10 {
  margin-left: 800px;
}
.before-span-11 {
  margin-left: 880px;
}
.before-span-12 {
  margin-left: 960px;
}
.after-span-1 {
  margin-right: 80px;
}
.after-span-2 {
  margin-right: 160px;
}
.after-span-3 {
  margin-right: 240px;
}
.after-span-4 {
  margin-right: 320px;
}
.after-span-5 {
  margin-right: 400px;
}
.after-span-6 {
  margin-right: 480px;
}
.after-span-7 {
  margin-right: 560px;
}
.after-span-8 {
  margin-right: 640px;
}
.after-span-9 {
  margin-right: 720px;
}
.after-span-10 {
  margin-right: 800px;
}
.after-span-11 {
  margin-right: 880px;
}
.after-span-12 {
  margin-right: 960px;
}
/* Media Queries */
